body{ 
background-image: url('./assets/to-do-ge9b08146e_1920.jpg');
}


#form {
margin:auto;
width: 15%;
border-left: 2px solid black;
border-bottom: 2px solid balck;
padding: 2px;
}

#header {
    color: red;
    text-align: center;
}


#table {
    width: 70%;
    margin: auto;
}

    thead{
       background-color:red; 
    }

    #msg {
        text-align: center;
    }

    #tbody {
        text-align: center;
    }

    #editform {
        display: none;
        position:absolute; 
        z-index:99;     
        top: 20%;
    left: 30%; 
    background: rgb(255, 255, 255);
    height: 300px; 
    width: 400px;
}


#delete {
background-image:url(./assets/delete_black_24dp.svg) ;
background-repeat: no-repeat;
background-position-x: center;
background-size: cover;
width: 22px;
height: 22px;
}

#edit {
    background-image: url(./assets/edit_black_24dp.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    width: 22px;
    height: 22px;
   
}